openapi: 3.1.0
info:
  title: Deniz Cloud Admin API
  version: 1.0.0
  description: |
    Admin panel API for Deniz Cloud self-hosted home server.
    Provides authentication (password + TOTP 2FA), session management,
    project management (with API keys, Meilisearch collections, and tenant tokens),
    user administration, system statistics, and database management
    (PostgreSQL and MongoDB browsing, DDL, and query execution).

    **Base URL:** `https://cloud.denizlg24.com`

    ## Authentication

    **Only superusers can login to this API.** Non-superuser login attempts are rejected with `403 FORBIDDEN`.

    All endpoints under `/api/users/*`, `/api/stats/*`, and `/api/projects/*` additionally require the `superuser` role via middleware.
    Auth endpoints are selectively protected (login is public; me/logout require auth).

    Two authentication methods are supported:

    - **Bearer Token (JWT):** Obtained via `POST /api/auth/login`. Pass as `Authorization: Bearer <token>`.
    - **API Key:** Pass as `X-API-Key: <key>` header.

    ## Projects

    Projects are the top-level organizational unit. Each project has a unique slug, an optional
    storage folder, and can have API keys and Meilisearch search collections associated with it.
    Deleting a project cascades to its storage folder, API keys, and Meilisearch indexes.

    ## Error Format

    All errors follow a consistent shape:
    ```json
    {
      "error": {
        "code": "ERROR_CODE",
        "message": "Human-readable description"
      }
    }
    ```
  contact:
    name: Deniz Cloud
    url: https://github.com/denizlg24/deniz-cloud
  license:
    name: MIT

servers:
  - url: https://cloud.denizlg24.com
    description: Production (Cloudflare Tunnel)
  - url: http://localhost:3002
    description: Local development

tags:
  - name: Health
    description: Service health checks
  - name: Auth
    description: Authentication, sessions, and user info
  - name: Users
    description: User management — create, list, delete, reset MFA (superuser only)
  - name: Stats
    description: System and storage statistics (superuser only)
  - name: Projects
    description: Project CRUD — create, list, get, update, delete (superuser only)
  - name: API Keys
    description: Project-scoped API key management (superuser only)
  - name: Search Collections
    description: Meilisearch collection/index management within a project (superuser only)
  - name: Search Tokens
    description: Meilisearch tenant token generation for a project (superuser only)
  - name: Postgres Database Management
    description: PostgreSQL database browsing, table management, and query execution (superuser only)
  - name: MongoDB Database Management
    description: MongoDB database browsing, collection/index management, and document querying (superuser only)

paths:
  /api/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service health status. No authentication required.
      tags: [Health]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: ok
              example:
                status: ok

  /api/auth/login:
    post:
      operationId: login
      summary: Login with password
      description: |
        Authenticates a superuser with username and password. Non-superuser accounts
        are rejected with `403 FORBIDDEN`. If the user has TOTP enabled,
        a TOTP code or recovery code must also be provided.

        **Rate limited:** 10 requests per 15 minutes per IP.

        **Flow:**
        1. Validate username + password
        2. Reject if user is not a superuser (`403 FORBIDDEN`)
        3. If TOTP is enabled and no code provided, return `401 TOTP_REQUIRED`
        4. If TOTP code or recovery code is provided, verify it
        5. Create a session (24h expiry) and return the JWT token
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            examples:
              passwordOnly:
                summary: Login without 2FA
                value:
                  username: admin
                  password: my-secure-password-123
              withTotp:
                summary: Login with TOTP code
                value:
                  username: admin
                  password: my-secure-password-123
                  totpCode: "123456"
              withRecovery:
                summary: Login with recovery code
                value:
                  username: admin
                  password: my-secure-password-123
                  recoveryCode: "A1B2-C3D4"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_LoginData"
              example:
                data:
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  expiresAt: "2026-03-14T12:00:00.000Z"
                  user:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    username: admin
                    email: admin@example.com
                    role: superuser
                    totpEnabled: true
                    createdAt: "2026-01-01T00:00:00.000Z"
                    updatedAt: "2026-01-01T00:00:00.000Z"
        "400":
          description: Invalid input or TOTP not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingFields:
                  summary: Missing username or password
                  value:
                    error:
                      code: INVALID_INPUT
                      message: Username and password are required
                totpNotConfigured:
                  summary: TOTP not set up for this user
                  value:
                    error:
                      code: TOTP_NOT_CONFIGURED
                      message: TOTP not configured
        "403":
          description: Non-superuser account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: FORBIDDEN
                  message: Admin access requires superuser role
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/TotpRequiredResponse"
              examples:
                invalidCredentials:
                  summary: Wrong username or password
                  value:
                    error:
                      code: INVALID_CREDENTIALS
                      message: Invalid credentials
                totpRequired:
                  summary: TOTP code needed
                  value:
                    error:
                      code: TOTP_REQUIRED
                      message: Two-factor authentication required
                    requiresRecoveryCode: true
                invalidTotp:
                  summary: Wrong TOTP code
                  value:
                    error:
                      code: INVALID_TOTP
                      message: Invalid TOTP token
                invalidRecovery:
                  summary: Wrong recovery code
                  value:
                    error:
                      code: INVALID_RECOVERY_CODE
                      message: Invalid recovery code
        "429":
          description: Rate limit exceeded (10 requests per 15 minutes per IP)
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the rate limit window resets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: RATE_LIMITED
                  message: Too many requests, try again later

  /api/auth/me:
    get:
      operationId: getCurrentUser
      summary: Get current user
      description: Returns the authenticated user's profile. Requires a valid session token or API key.
      tags: [Auth]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Current user info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_SafeUser"
              example:
                data:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  username: admin
                  email: admin@example.com
                  role: superuser
                  totpEnabled: true
                  createdAt: "2026-01-01T00:00:00.000Z"
                  updatedAt: "2026-01-01T00:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/auth/logout:
    post:
      operationId: logout
      summary: Logout / revoke session
      description: |
        Revokes the current session. If authenticated via Bearer token, the session
        is deleted from the database. If authenticated via API key, no session is revoked
        (API keys are not session-based).
      tags: [Auth]
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
              example:
                data:
                  success: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/users:
    get:
      operationId: listUsers
      summary: List all users
      tags: [Users]
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Paginated user list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_SafeUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createUser
      summary: Create a pending user
      description: Creates a user with status "pending". The user completes signup on the storage portal.
      tags: [Users]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_SafeUser"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/users/{id}:
    delete:
      operationId: deleteUser
      summary: Delete a user
      description: Permanently deletes a user and all their data. Cannot delete superuser accounts.
      tags: [Users]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: User deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/users/{id}/reset-mfa:
    post:
      operationId: resetUserMfa
      summary: Reset a user's MFA
      description: Disables TOTP and deletes recovery codes. The user must set up MFA again.
      tags: [Users]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: MFA reset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/stats/system:
    get:
      operationId: getSystemStats
      summary: Get system resource usage
      description: Returns CPU, memory, and disk usage from the host system.
      tags: [Stats]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: System stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_SystemStats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/stats/storage:
    get:
      operationId: getStorageStats
      summary: Get storage statistics
      description: Returns file counts, total sizes, per-tier breakdown, user and session counts.
      tags: [Stats]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Storage stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_StorageStats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # --- Project CRUD ---

  /api/projects:
    get:
      operationId: listProjects
      summary: List projects
      description: |
        Returns a paginated list of all projects.
        Projects are ordered by `createdAt` descending (newest first).

        **Note:** `meiliApiKey` and `meiliApiKeyUid` are internal fields and never exposed in responses.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number (minimum 1)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Items per page (1-100)
      responses:
        "200":
          description: Paginated list of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse_Project"
              example:
                data:
                  - id: 550e8400-e29b-41d4-a716-446655440000
                    name: My App
                    slug: my-app
                    description: Main application project
                    ownerId: 660e8400-e29b-41d4-a716-446655440000
                    storageFolderId: 770e8400-e29b-41d4-a716-446655440000
                    createdAt: "2026-03-01T00:00:00.000Z"
                    updatedAt: "2026-03-01T00:00:00.000Z"
                pagination:
                  page: 1
                  limit: 50
                  total: 1
                  totalPages: 1
        "400":
          description: Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: INVALID_INPUT
                  message: Invalid pagination parameters
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createProject
      summary: Create a project
      description: |
        Creates a new project with a unique slug. The slug is used as the namespace
        for Meilisearch indexes and the storage folder root path.

        **Slug constraints:**
        - Required, 3-64 characters
        - Lowercase alphanumeric with hyphens
        - Must start and end with an alphanumeric character
        - Pattern: `^[a-z0-9][a-z0-9-]{1,62}[a-z0-9]$`
      tags: [Projects]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
            example:
              name: My App
              slug: my-app
              description: Main application project
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Project"
              example:
                data:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  name: My App
                  slug: my-app
                  description: Main application project
                  ownerId: 660e8400-e29b-41d4-a716-446655440000
                  storageFolderId: 770e8400-e29b-41d4-a716-446655440000
                  createdAt: "2026-03-01T00:00:00.000Z"
                  updatedAt: "2026-03-01T00:00:00.000Z"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                nameRequired:
                  summary: Name is missing
                  value:
                    error:
                      code: INVALID_INPUT
                      message: Project name is required
                slugInvalid:
                  summary: Invalid slug format
                  value:
                    error:
                      code: INVALID_INPUT
                      message: "Slug must be 3-64 characters: lowercase letters, numbers, hyphens (no leading/trailing hyphens)"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/projects/{id}:
    get:
      operationId: getProject
      summary: Get a project
      description: Returns a single project by ID.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Project"
              example:
                data:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  name: My App
                  slug: my-app
                  description: Main application project
                  ownerId: 660e8400-e29b-41d4-a716-446655440000
                  storageFolderId: 770e8400-e29b-41d4-a716-446655440000
                  createdAt: "2026-03-01T00:00:00.000Z"
                  updatedAt: "2026-03-01T00:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

    patch:
      operationId: updateProject
      summary: Update a project
      description: |
        Updates a project's name and/or description. At least one field must be provided.
        The slug cannot be changed after creation.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
            example:
              name: My Updated App
              description: Updated description
      responses:
        "200":
          description: Project updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Project"
        "400":
          description: No valid fields provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: INVALID_INPUT
                  message: No valid fields to update
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

    delete:
      operationId: deleteProject
      summary: Delete a project
      description: |
        Deletes a project and cascades to its storage folder, all API keys,
        and all Meilisearch indexes and API keys. This is destructive and irreversible.
      tags: [Projects]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
              example:
                data:
                  success: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

  # --- API Keys (nested under project) ---

  /api/projects/{id}/api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys for a project
      description: |
        Returns all API keys for a project. The `keyHash` field is excluded from responses
        for security. Only the `keyPrefix` is shown to help identify keys.
      tags: [API Keys]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_SafeApiKeyList"
              example:
                data:
                  - id: 880e8400-e29b-41d4-a716-446655440000
                    userId: 660e8400-e29b-41d4-a716-446655440000
                    projectId: 550e8400-e29b-41d4-a716-446655440000
                    name: production-key
                    keyPrefix: dc_a1b2c3
                    scopes: ["storage:read", "storage:write"]
                    expiresAt: "2026-06-01T00:00:00.000Z"
                    lastUsedAt: "2026-03-14T10:30:00.000Z"
                    createdAt: "2026-03-01T00:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

    post:
      operationId: createApiKey
      summary: Create an API key
      description: |
        Creates a new API key scoped to a project. The full key is returned **only once**
        in this response — store it securely, as it cannot be retrieved again.

        **Valid scopes:** `storage:read`, `storage:write`, `storage:delete`, `search:read`, `search:write`, `search:manage`

        **Expiration options:** `30d`, `90d`, `1y`, or omit for no expiration.
      tags: [API Keys]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
            example:
              name: production-key
              scopes: ["storage:read", "storage:write"]
              expiresIn: "90d"
      responses:
        "201":
          description: API key created (key shown only once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedApiKey"
              example:
                data:
                  id: 880e8400-e29b-41d4-a716-446655440000
                  key: dc_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6
                  prefix: dc_a1b2c3
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                nameRequired:
                  summary: Name is missing
                  value:
                    error:
                      code: INVALID_INPUT
                      message: API key name is required
                scopesRequired:
                  summary: No scopes provided
                  value:
                    error:
                      code: INVALID_INPUT
                      message: At least one scope is required
                invalidScopes:
                  summary: Invalid scope values
                  value:
                    error:
                      code: INVALID_INPUT
                      message: "Invalid scopes: admin:all. Valid: storage:read, storage:write, storage:delete, search:read, search:write, search:manage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

  /api/projects/{id}/api-keys/{keyId}:
    delete:
      operationId: revokeApiKey
      summary: Revoke an API key
      description: Permanently revokes an API key. The key will no longer authenticate requests.
      tags: [API Keys]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: API key UUID
      responses:
        "200":
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Success"
              example:
                data:
                  success: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

  # --- Search Collections (nested under project) ---

  /api/projects/{id}/search-collections:
    get:
      operationId: listSearchCollections
      summary: List search collections for a project
      description: |
        Returns all Meilisearch indexes associated with a project. If the project
        has no Meilisearch API key yet (no collections created), returns an empty array.
      tags: [Search Collections]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: List of search collections
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_SearchCollectionList"
              example:
                data:
                  - name: products
                    uid: my-app_products
                    primaryKey: id
                    createdAt: "2026-03-01T00:00:00.000Z"
                    updatedAt: "2026-03-01T00:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

    post:
      operationId: createSearchCollection
      summary: Create a search collection (Meilisearch index)
      description: |
        Creates a new Meilisearch index within a project. The index UID follows the
        pattern `{projectSlug}_{collectionName}`.

        If this is the first collection for the project, a Meilisearch API key is
        automatically created and stored.

        **Name constraints:**
        - Lowercase alphanumeric with hyphens
        - Must start and end with an alphanumeric character
        - Max 50 characters
        - Pattern: `^[a-z0-9]([a-z0-9-]*[a-z0-9])?$`
      tags: [Search Collections]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
            example:
              name: products
              primaryKey: id
      responses:
        "201":
          description: Collection created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedCollection"
              example:
                data:
                  name: products
                  uid: my-app_products
                  primaryKey: id
                  taskUid: 42
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                nameInvalid:
                  summary: Invalid name format
                  value:
                    error:
                      code: INVALID_INPUT
                      message: Collection name must be lowercase alphanumeric with hyphens (no leading/trailing hyphens, max 50 chars)
                nameTooLong:
                  summary: Name exceeds 50 characters
                  value:
                    error:
                      code: INVALID_INPUT
                      message: Collection name must be 50 characters or fewer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

  /api/projects/{id}/search-collections/{name}:
    delete:
      operationId: deleteSearchCollection
      summary: Delete a search collection (Meilisearch index)
      description: |
        Deletes a Meilisearch index within a project. The index `{projectSlug}_{collectionName}`
        is permanently removed along with all its documents.
      tags: [Search Collections]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/CollectionName"
      responses:
        "200":
          description: Collection deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DeletedName"
              example:
                data:
                  name: products
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

  # --- Search Tokens ---

  /api/projects/{id}/search-token:
    post:
      operationId: generateSearchToken
      summary: Generate a Meilisearch tenant token
      description: |
        Generates a scoped Meilisearch tenant token (JWT) for a project. The token
        is signed with the project's Meilisearch API key and restricts search access
        to indexes matching `{projectSlug}_*`.

        Clients can use this token to query Meilisearch directly without a proxy.

        **Requires** the project to have at least one search collection (so that a
        Meilisearch API key exists). Returns `400 SEARCH_NOT_CONFIGURED` otherwise.

        **Token expiry:** Configurable via `expiresInHours` (default 24h, max 720h / 30 days).
      tags: [Search Tokens]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateTokenRequest"
            example:
              expiresInHours: 48
      responses:
        "200":
          description: Tenant token generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_TenantToken"
              example:
                data:
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  expiresAt: "2026-03-17T12:00:00.000Z"
        "400":
          description: Project has no search collections
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: SEARCH_NOT_CONFIGURED
                  message: Project has no search collections. Create a collection first.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ProjectNotFound"

  # --- PostgreSQL Database Management ---

  /api/db/postgres/databases:
    get:
      operationId: listPostgresDatabases
      summary: List PostgreSQL databases
      description: |
        Returns all non-template databases with their sizes.
        Protected databases (`postgres`, `template0`, `template1`, and the app database)
        are flagged with `isProtected: true` and cannot be dropped.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of databases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PgDatabaseList"
              example:
                data:
                  - name: postgres
                    sizeBytes: 8945664
                    isProtected: true
                  - name: myapp
                    sizeBytes: 24576000
                    isProtected: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createPostgresDatabase
      summary: Create a PostgreSQL database
      description: |
        Creates a new PostgreSQL database.

        **Name constraints:** Must match `^[a-zA-Z_][a-zA-Z0-9_]{0,62}$`.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDatabaseRequest"
            example:
              name: analytics
      responses:
        "201":
          description: Database created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedDatabase"
              example:
                data:
                  name: analytics
        "400":
          description: Invalid database name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/postgres/databases/{name}:
    delete:
      operationId: dropPostgresDatabase
      summary: Drop a PostgreSQL database
      description: |
        Drops a PostgreSQL database. Terminates all active connections first.
        Protected databases (`postgres`, `template0`, `template1`, and the app database)
        cannot be dropped and return `403 PROTECTED_DATABASE`.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
      responses:
        "200":
          description: Database dropped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DroppedName"
              example:
                data:
                  dropped: analytics
        "400":
          description: Invalid database name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Protected database or insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                protected:
                  summary: Attempt to drop a protected database
                  value:
                    error:
                      code: PROTECTED_DATABASE
                      message: 'Database "postgres" cannot be dropped'
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error:
                      code: FORBIDDEN
                      message: Insufficient permissions

  /api/db/postgres/databases/{name}/schemas:
    get:
      operationId: listPostgresSchemas
      summary: List schemas in a PostgreSQL database
      description: |
        Returns all user-defined schemas in a database (excludes `pg_catalog`,
        `information_schema`, and `pg_toast`).
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
      responses:
        "200":
          description: List of schemas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_SchemaList"
              example:
                data:
                  - name: public
        "400":
          description: Invalid database name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/postgres/databases/{name}/tables:
    get:
      operationId: listPostgresTables
      summary: List tables in a PostgreSQL database
      description: |
        Returns base tables in a schema with row estimates and sizes.
        Defaults to the `public` schema.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - name: schema
          in: query
          schema:
            type: string
            default: public
          description: Schema to list tables from (default `public`)
      responses:
        "200":
          description: List of tables
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PgTableList"
              example:
                data:
                  - name: users
                    schema: public
                    rowEstimate: 42
                    sizeBytes: 81920
        "400":
          description: Invalid database or schema name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createPostgresTable
      summary: Create a table in a PostgreSQL database
      description: |
        Creates a new table with the specified columns. At least one column is required.

        **Name constraints:** Table and column names must match `^[a-zA-Z_][a-zA-Z0-9_]{0,62}$`.

        **Allowed column types:** `serial`, `bigserial`, `integer`, `bigint`, `smallint`, `text`,
        `varchar`, `char`, `boolean`, `timestamp`, `timestamptz`, `date`, `time`, `numeric`,
        `real`, `double precision`, `jsonb`, `json`, `uuid`, `bytea`, `inet`, `cidr`, `macaddr`.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - name: schema
          in: query
          schema:
            type: string
            default: public
          description: Schema to create the table in (default `public`)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePgTableRequest"
            example:
              name: events
              columns:
                - name: id
                  type: serial
                  primaryKey: true
                - name: event_name
                  type: text
                  nullable: false
                - name: payload
                  type: jsonb
                - name: created_at
                  type: timestamptz
                  default: now()
      responses:
        "201":
          description: Table created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedTable"
              example:
                data:
                  name: events
                  schema: public
        "400":
          description: Invalid input (name, type, or missing columns)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/postgres/databases/{name}/tables/{table}:
    get:
      operationId: getPostgresTableDetail
      summary: Get table details (columns, indexes, constraints)
      description: |
        Returns detailed information about a table including all columns, indexes,
        and constraints.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/TableName"
        - name: schema
          in: query
          schema:
            type: string
            default: public
          description: Schema the table belongs to (default `public`)
      responses:
        "200":
          description: Table detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PgTableDetail"
              example:
                data:
                  columns:
                    - name: id
                      type: integer
                      nullable: false
                      default: "nextval('events_id_seq'::regclass)"
                      position: 1
                    - name: event_name
                      type: text
                      nullable: false
                      default: null
                      position: 2
                  indexes:
                    - name: events_pkey
                      definition: "CREATE UNIQUE INDEX events_pkey ON public.events USING btree (id)"
                  constraints:
                    - name: events_pkey
                      type: PRIMARY KEY
                      columns: [id]
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    delete:
      operationId: dropPostgresTable
      summary: Drop a table
      description: |
        Drops a table from a PostgreSQL database. Application-managed tables
        (`users`, `sessions`, `files`, `folders`, `api_keys`, `projects`, `project_collections`)
        in the app database are protected and return `403 PROTECTED_TABLE`.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/TableName"
        - name: schema
          in: query
          schema:
            type: string
            default: public
          description: Schema the table belongs to (default `public`)
      responses:
        "200":
          description: Table dropped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DroppedName"
              example:
                data:
                  dropped: events
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Protected table or insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: PROTECTED_TABLE
                  message: Table "users" is managed by the application and cannot be dropped

  /api/db/postgres/databases/{name}/query:
    post:
      operationId: executePostgresQuery
      summary: Execute a raw SQL query
      description: |
        Executes a raw SQL query against a PostgreSQL database and returns the results.
        Results are capped at 500 rows. Query length is limited to 10,000 characters.

        **Warning:** This endpoint executes arbitrary SQL. Use with caution.
      tags: [Postgres Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PgQueryRequest"
            example:
              sql: "SELECT * FROM users LIMIT 10"
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_PgQueryResult"
              example:
                data:
                  columns: [id, username, email]
                  rows:
                    - id: 1
                      username: admin
                      email: admin@example.com
                  rowCount: 1
                  truncated: false
                  durationMs: 12
        "400":
          description: Invalid query or query error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PgQueryErrorResponse"
              examples:
                missingQuery:
                  summary: No SQL provided
                  value:
                    error:
                      code: QUERY_ERROR
                      message: SQL query is required
                queryError:
                  summary: SQL execution error
                  value:
                    error:
                      code: QUERY_ERROR
                      message: 'relation "nonexistent" does not exist'
                    data:
                      durationMs: 3
                tooLong:
                  summary: Query exceeds 10,000 characters
                  value:
                    error:
                      code: QUERY_ERROR
                      message: Query too long (max 10000 chars)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # --- MongoDB Database Management ---

  /api/db/mongodb/databases:
    get:
      operationId: listMongoDatabases
      summary: List MongoDB databases
      description: |
        Returns all databases with their sizes.
        Protected databases (`admin`, `config`, `local`) are flagged with `isProtected: true`
        and cannot be dropped.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of databases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_MongoDatabaseList"
              example:
                data:
                  - name: admin
                    sizeBytes: 40960
                    empty: false
                    isProtected: true
                  - name: myapp
                    sizeBytes: 1048576
                    empty: false
                    isProtected: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createMongoDatabase
      summary: Create a MongoDB database
      description: |
        Creates a new MongoDB database by creating an `_init` collection in it.

        **Name constraints:** Must match `^[a-zA-Z_][a-zA-Z0-9_.-]{0,63}$`, no `$` or null bytes.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDatabaseRequest"
            example:
              name: analytics
      responses:
        "201":
          description: Database created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedDatabase"
              example:
                data:
                  name: analytics
        "400":
          description: Invalid database name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/mongodb/databases/{name}:
    delete:
      operationId: dropMongoDatabase
      summary: Drop a MongoDB database
      description: |
        Drops a MongoDB database and all its collections.
        Protected databases (`admin`, `config`, `local`) cannot be dropped
        and return `403 PROTECTED_DATABASE`.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
      responses:
        "200":
          description: Database dropped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DroppedName"
              example:
                data:
                  dropped: analytics
        "400":
          description: Invalid database name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Protected database or insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/db/mongodb/databases/{name}/collections:
    get:
      operationId: listMongoCollections
      summary: List collections in a MongoDB database
      description: |
        Returns all collections with estimated document counts and index counts.
        System collections (`system.*`) report zero stats.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
      responses:
        "200":
          description: List of collections
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_MongoCollectionList"
              example:
                data:
                  - name: events
                    type: collection
                    documentCount: 1500
                    sizeBytes: 0
                    indexCount: 2
        "400":
          description: Invalid database name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createMongoCollection
      summary: Create a collection in a MongoDB database
      description: |
        Creates a new collection, optionally capped.

        **Name constraints:** Must match `^[a-zA-Z_][a-zA-Z0-9_.-]{0,63}$`, no `$` or null bytes.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMongoCollectionRequest"
            examples:
              basic:
                summary: Standard collection
                value:
                  name: events
              capped:
                summary: Capped collection
                value:
                  name: logs
                  capped: true
                  size: 10485760
                  max: 5000
      responses:
        "201":
          description: Collection created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedDatabase"
              example:
                data:
                  name: events
        "400":
          description: Invalid collection name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/mongodb/databases/{name}/collections/{collName}:
    delete:
      operationId: dropMongoCollection
      summary: Drop a collection
      description: Drops a collection and all its documents and indexes.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/MongoCollectionName"
      responses:
        "200":
          description: Collection dropped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DroppedName"
              example:
                data:
                  dropped: events
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/mongodb/databases/{name}/collections/{collName}/indexes:
    get:
      operationId: listMongoIndexes
      summary: List indexes on a collection
      description: Returns all indexes on a MongoDB collection.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/MongoCollectionName"
      responses:
        "200":
          description: List of indexes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_MongoIndexList"
              example:
                data:
                  - name: _id_
                    key: { _id: 1 }
                    unique: true
                    sparse: false
                  - name: event_name_1
                    key: { event_name: 1 }
                    unique: false
                    sparse: false
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createMongoIndex
      summary: Create an index on a collection
      description: |
        Creates a new index on a MongoDB collection. At least one field is required.
        Supports unique and sparse options, and an optional custom index name.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/MongoCollectionName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMongoIndexRequest"
            example:
              fields:
                - name: event_name
                  direction: 1
                - name: created_at
                  direction: -1
              unique: false
      responses:
        "201":
          description: Index created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_CreatedDatabase"
              example:
                data:
                  name: event_name_1_created_at_-1
        "400":
          description: Invalid input or no fields provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/mongodb/databases/{name}/collections/{collName}/indexes/{indexName}:
    delete:
      operationId: dropMongoIndex
      summary: Drop an index
      description: |
        Drops an index from a MongoDB collection.
        The `_id_` index is protected and cannot be dropped (returns `403 PROTECTED_INDEX`).
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/MongoCollectionName"
        - name: indexName
          in: path
          required: true
          schema:
            type: string
          description: Index name
      responses:
        "200":
          description: Index dropped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_DroppedName"
              example:
                data:
                  dropped: event_name_1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Protected index or insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: PROTECTED_INDEX
                  message: The _id_ index cannot be dropped

  /api/db/mongodb/databases/{name}/collections/{collName}/sample:
    get:
      operationId: sampleMongoDocuments
      summary: Sample documents from a collection
      description: Returns up to 5 documents from a collection (no filter, natural order).
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/MongoCollectionName"
      responses:
        "200":
          description: Sample documents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_MongoSample"
              example:
                data:
                  - _id: "6614a1b2c3d4e5f6a7b8c9d0"
                    event_name: page_view
                    timestamp: "2026-03-15T10:30:00Z"
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/db/mongodb/databases/{name}/collections/{collName}/find:
    post:
      operationId: queryMongoDocuments
      summary: Query documents in a collection
      description: |
        Executes a find query against a MongoDB collection with optional filter, sort, limit, and skip.
        Results are capped at 100 documents per request.

        Filter and sort must be valid JSON strings representing MongoDB query/sort objects.
      tags: [MongoDB Database Management]
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DatabaseName"
        - $ref: "#/components/parameters/MongoCollectionName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MongoFindRequest"
            examples:
              basic:
                summary: Simple filter
                value:
                  filter: '{"event_name": "page_view"}'
                  limit: 20
              withSort:
                summary: Filter with sort and pagination
                value:
                  filter: '{"event_name": "page_view"}'
                  sort: '{"timestamp": -1}'
                  limit: 50
                  skip: 100
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_MongoFindResult"
              example:
                data:
                  documents:
                    - _id: "6614a1b2c3d4e5f6a7b8c9d0"
                      event_name: page_view
                      timestamp: "2026-03-15T10:30:00Z"
                  totalCount: 42
                  durationMs: 8
        "400":
          description: Invalid filter/sort JSON or query error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MongoQueryErrorResponse"
              examples:
                invalidFilter:
                  summary: Malformed filter JSON
                  value:
                    error:
                      code: INVALID_FILTER
                      message: Filter must be valid JSON
                invalidSort:
                  summary: Malformed sort JSON
                  value:
                    error:
                      code: INVALID_SORT
                      message: Sort must be valid JSON
                queryError:
                  summary: Query execution error
                  value:
                    error:
                      code: QUERY_ERROR
                      message: unknown top level operator $invalid
                    data:
                      durationMs: 2
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Session JWT obtained via `POST /api/auth/login`.
        Tokens expire after 24 hours by default.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key for programmatic access. Created via the admin panel.
        Pass the raw key value (not hashed).

  parameters:
    ProjectId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Project UUID
    CollectionName:
      name: name
      in: path
      required: true
      schema:
        type: string
        pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
        maxLength: 50
      description: Collection name (lowercase alphanumeric with hyphens)
    DatabaseName:
      name: name
      in: path
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z_][a-zA-Z0-9_]{0,62}$
      description: Database name
    TableName:
      name: table
      in: path
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z_][a-zA-Z0-9_]{0,62}$
      description: Table name
    MongoCollectionName:
      name: collName
      in: path
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z_][a-zA-Z0-9_.-]{0,63}$
      description: MongoDB collection name

  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            noAuth:
              summary: No authentication provided
              value:
                error:
                  code: UNAUTHORIZED
                  message: Authentication required
            tokenInvalid:
              summary: JWT is invalid or expired
              value:
                error:
                  code: TOKEN_INVALID
                  message: Invalid or expired token
            sessionInvalid:
              summary: Session revoked or expired in DB
              value:
                error:
                  code: SESSION_INVALID
                  message: Session expired or revoked
            apiKeyInvalid:
              summary: API key not found
              value:
                error:
                  code: INVALID_API_KEY
                  message: Invalid API key
            apiKeyExpired:
              summary: API key past expiry
              value:
                error:
                  code: API_KEY_EXPIRED
                  message: API key expired

    Forbidden:
      description: Insufficient permissions (superuser role required)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: FORBIDDEN
              message: Insufficient permissions

    ProjectNotFound:
      description: Project not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: NOT_FOUND
              message: Project not found

    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              code: INTERNAL_ERROR
              message: Internal server error

  schemas:
    # --- Request Schemas ---

    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: User's username
        password:
          type: string
          description: User's password
        totpCode:
          type: string
          description: 6-digit TOTP code from authenticator app
          pattern: ^\d{6}$
        recoveryCode:
          type: string
          description: Recovery code (format XXXX-XXXX, hex uppercase)
          pattern: ^[A-F0-9]{4}-[A-F0-9]{4}$

    CreateProjectRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
          description: Human-readable project name
        slug:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-z0-9][a-z0-9-]{1,62}[a-z0-9]$
          description: |
            Unique project slug. Lowercase alphanumeric with hyphens.
            Must start and end with an alphanumeric character. 3-64 characters.
            Used as the namespace for Meilisearch indexes and storage folder root.
        description:
          type: ["string","null"]
          description: Optional project description

    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated project name
        description:
          type: string
          description: Updated project description

    CreateApiKeyRequest:
      type: object
      required: [name, scopes]
      properties:
        name:
          type: string
          description: Human-readable name for the API key
        scopes:
          type: array
          items:
            type: string
            enum:
              - storage:read
              - storage:write
              - storage:delete
              - search:read
              - search:write
              - search:manage
          minItems: 1
          description: |
            Permissions granted to this key. At least one scope is required.
        expiresIn:
          type: string
          enum: ["30d", "90d", "1y"]
          description: Optional expiration duration. Omit for no expiration.

    CreateCollectionRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
          description: |
            Collection name. Lowercase alphanumeric with hyphens.
            The Meilisearch index UID will be `{projectSlug}_{collectionName}`.
        primaryKey:
          type: string
          default: id
          description: Primary key field for the Meilisearch index

    GenerateTokenRequest:
      type: object
      properties:
        expiresInHours:
          type: "number"
          minimum: 0
          maximum: 720
          default: 24
          description: Token validity in hours (max 720 = 30 days). Defaults to 24.

    CreateUserRequest:
      type: object
      required: [username]
      properties:
        username:
          type: string
          pattern: ^[a-z0-9_-]{3,50}$
          description: Username (3-50 chars, lowercase alphanumeric, hyphens, underscores)
        role:
          type: string
          enum: [user, superuser]
          default: user

    # --- Response Schemas ---

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message

    TotpRequiredResponse:
      type: object
      required: [error, requiresRecoveryCode]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              const: TOTP_REQUIRED
            message:
              type: string
              const: Two-factor authentication required
        requiresRecoveryCode:
          type: boolean
          description: |
            `true` if the user is a superuser (recovery codes are available as fallback).

    SafeUser:
      type: object
      required: [id, username, role, status, totpEnabled, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
          description: User UUID
        username:
          type: string
          maxLength: 255
          description: Unique username
        email:
          type: ["string","null"]
          format: email
          maxLength: 255
          description: User email (optional)
        role:
          type: string
          enum: [superuser, user]
          description: User role
        status:
          type: string
          enum: [pending, active]
          description: Account status — pending users have not completed signup yet
        totpEnabled:
          type: boolean
          description: Whether TOTP 2FA is enabled
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last profile update timestamp

    Project:
      type: object
      required: [id, name, slug, ownerId, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
          description: Project UUID
        name:
          type: string
          description: Human-readable project name
        slug:
          type: string
          maxLength: 64
          description: Unique project slug (used as namespace for search indexes and storage)
        description:
          type: ["string","null"]
          description: Optional project description
        ownerId:
          type: string
          format: uuid
          description: UUID of the user who created this project
        storageFolderId:
          type: ["string","null"]
          format: uuid
          description: UUID of the project's root storage folder (null if not yet created)
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      description: |
        A project. Note: `meiliApiKey` and `meiliApiKeyUid`
        are internal fields and never exposed in API responses.

    SafeApiKey:
      type: object
      required: [id, userId, projectId, name, keyPrefix, scopes, createdAt]
      properties:
        id:
          type: string
          format: uuid
          description: API key UUID
        userId:
          type: string
          format: uuid
          description: UUID of the user who created this key
        projectId:
          type: string
          format: uuid
          description: UUID of the project this key belongs to
        name:
          type: string
          description: Human-readable key name
        keyPrefix:
          type: string
          description: First characters of the key for identification
        scopes:
          type: array
          items:
            type: string
            enum:
              - storage:read
              - storage:write
              - storage:delete
              - search:read
              - search:write
              - search:manage
          description: Permissions granted to this key
        expiresAt:
          type: ["string","null"]
          format: date-time
          description: Expiration timestamp (null if no expiration)
        lastUsedAt:
          type: ["string","null"]
          format: date-time
          description: Last time this key was used for authentication
        createdAt:
          type: string
          format: date-time
          description: Key creation timestamp
      description: |
        An API key with the `keyHash` field excluded for security.

    SearchCollection:
      type: object
      required: [name, uid]
      properties:
        name:
          type: string
          description: Collection name (parsed from index UID)
        uid:
          type: string
          description: Full Meilisearch index UID (`{projectSlug}_{collectionName}`)
        primaryKey:
          type: ["string","null"]
          description: Primary key field configured on the index
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LoginData:
      type: object
      required: [token, expiresAt, user]
      properties:
        token:
          type: string
          description: JWT session token (HS256)
        expiresAt:
          type: string
          format: date-time
          description: Token expiration timestamp (default 24h from login)
        user:
          $ref: "#/components/schemas/SafeUser"

    CreatedCollection:
      type: object
      required: [name, uid, primaryKey, taskUid]
      properties:
        name:
          type: string
          description: Collection name
        uid:
          type: string
          description: Full Meilisearch index UID
        primaryKey:
          type: string
          description: Primary key field
        taskUid:
          type: integer
          description: Meilisearch task UID for index creation

    TenantToken:
      type: object
      required: [token, expiresAt]
      properties:
        token:
          type: string
          description: Meilisearch tenant token (scoped JWT)
        expiresAt:
          type: string
          format: date-time
          description: Token expiration timestamp

    SystemStats:
      type: object
      required: [cpu, memory, disk, timestamp]
      properties:
        cpu:
          type: object
          properties:
            usagePercent: { type: number }
            cores: { type: integer }
        memory:
          type: object
          properties:
            totalBytes: { type: integer }
            usedBytes: { type: integer }
            availableBytes: { type: integer }
            usagePercent: { type: number }
        disk:
          type: array
          items:
            type: object
            properties:
              mount: { type: string }
              totalBytes: { type: integer }
              usedBytes: { type: integer }
              availableBytes: { type: integer }
              usagePercent: { type: number }
        timestamp:
          type: string
          format: date-time

    StorageStats:
      type: object
      required: [files, tiers, folders, users, activeSessions, timestamp]
      properties:
        files:
          type: object
          properties:
            count: { type: integer }
            totalSizeBytes: { type: integer }
        tiers:
          type: object
          properties:
            ssd:
              type: object
              properties:
                fileCount: { type: integer }
                totalSizeBytes: { type: integer }
            hdd:
              type: object
              properties:
                fileCount: { type: integer }
                totalSizeBytes: { type: integer }
        folders:
          type: object
          properties:
            count: { type: integer }
        users:
          type: object
          properties:
            count: { type: integer }
        activeSessions:
          type: object
          properties:
            count: { type: integer }
        timestamp:
          type: string
          format: date-time

    # --- Wrapped Response Types ---

    ApiResponse_LoginData:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/LoginData"

    ApiResponse_SafeUser:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/SafeUser"

    ApiResponse_Success:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [success]
          properties:
            success:
              type: boolean
              const: true

    ApiResponse_Project:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Project"

    ApiResponse_SafeApiKeyList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SafeApiKey"

    ApiResponse_CreatedApiKey:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, key, prefix]
          properties:
            id:
              type: string
              format: uuid
              description: API key UUID
            key:
              type: string
              description: Full API key (shown only once)
            prefix:
              type: string
              description: Key prefix for identification

    ApiResponse_SearchCollectionList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SearchCollection"

    ApiResponse_DeletedName:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [name]
          properties:
            name:
              type: string

    ApiResponse_CreatedCollection:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/CreatedCollection"

    ApiResponse_TenantToken:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/TenantToken"

    ApiResponse_SystemStats:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/SystemStats"

    ApiResponse_StorageStats:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/StorageStats"

    PaginatedResponse_Project:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Project"
        pagination:
          $ref: "#/components/schemas/Pagination"

    PaginatedResponse_SafeUser:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SafeUser"
        pagination:
          $ref: "#/components/schemas/Pagination"

    Pagination:
      type: object
      required: [page, limit, total, totalPages]
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          minimum: 0
          description: Total number of items
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages

    # --- Database Management Request Schemas ---

    CreateDatabaseRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: Database name

    CreatePgTableRequest:
      type: object
      required: [name, columns]
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z_][a-zA-Z0-9_]{0,62}$
          description: Table name
        columns:
          type: array
          minItems: 1
          items:
            type: object
            required: [name, type]
            properties:
              name:
                type: string
                pattern: ^[a-zA-Z_][a-zA-Z0-9_]{0,62}$
                description: Column name
              type:
                type: string
                description: |
                  Column data type. Allowed values: `serial`, `bigserial`, `integer`, `bigint`,
                  `smallint`, `text`, `varchar`, `char`, `boolean`, `timestamp`, `timestamptz`,
                  `date`, `time`, `numeric`, `real`, `double precision`, `jsonb`, `json`, `uuid`,
                  `bytea`, `inet`, `cidr`, `macaddr`.
              nullable:
                type: boolean
                default: true
                description: Whether the column allows NULL values
              default:
                type: string
                description: SQL default expression (e.g. `now()`, `gen_random_uuid()`)
              primaryKey:
                type: boolean
                default: false
                description: Whether this column is part of the primary key

    PgQueryRequest:
      type: object
      required: [sql]
      properties:
        sql:
          type: string
          maxLength: 10000
          description: SQL query to execute (max 10,000 characters)

    CreateMongoCollectionRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z_][a-zA-Z0-9_.-]{0,63}$
          description: Collection name
        capped:
          type: boolean
          default: false
          description: Whether to create a capped collection
        size:
          type: integer
          description: Maximum size in bytes (required for capped collections)
        max:
          type: integer
          description: Maximum number of documents (optional, for capped collections)

    CreateMongoIndexRequest:
      type: object
      required: [fields]
      properties:
        fields:
          type: array
          minItems: 1
          items:
            type: object
            required: [name, direction]
            properties:
              name:
                type: string
                description: Field name
              direction:
                type: integer
                enum: [1, -1]
                description: Sort direction (1 = ascending, -1 = descending)
          description: Index fields with sort direction
        unique:
          type: boolean
          default: false
          description: Whether the index enforces uniqueness
        sparse:
          type: boolean
          default: false
          description: Whether the index only includes documents with the indexed fields
        name:
          type: string
          description: Optional custom index name

    MongoFindRequest:
      type: object
      properties:
        filter:
          type: string
          description: 'MongoDB filter as a JSON string (e.g. ''{"status": "active"}'')'
        sort:
          type: string
          description: 'MongoDB sort as a JSON string (e.g. ''{"createdAt": -1}'')'
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: Maximum documents to return (1-100, default 20)
        skip:
          type: integer
          minimum: 0
          default: 0
          description: Number of documents to skip (for pagination)

    # --- Database Management Response Schemas ---

    PgDatabase:
      type: object
      required: [name, sizeBytes, isProtected]
      properties:
        name:
          type: string
        sizeBytes:
          type: integer
        isProtected:
          type: boolean
          description: Whether this is a system/app database that cannot be dropped

    MongoDatabase:
      type: object
      required: [name, sizeBytes, empty, isProtected]
      properties:
        name:
          type: string
        sizeBytes:
          type: integer
        empty:
          type: boolean
        isProtected:
          type: boolean
          description: Whether this is a system database that cannot be dropped

    PgTable:
      type: object
      required: [name, schema, rowEstimate, sizeBytes]
      properties:
        name:
          type: string
        schema:
          type: string
        rowEstimate:
          type: integer
          description: Estimated row count from pg_class.reltuples
        sizeBytes:
          type: integer
          description: Total relation size including indexes

    PgTableDetail:
      type: object
      required: [columns, indexes, constraints]
      properties:
        columns:
          type: array
          items:
            type: object
            required: [name, type, nullable, position]
            properties:
              name:
                type: string
              type:
                type: string
              nullable:
                type: boolean
              default:
                type: ["string", "null"]
              position:
                type: integer
        indexes:
          type: array
          items:
            type: object
            required: [name, definition]
            properties:
              name:
                type: string
              definition:
                type: string
                description: Full CREATE INDEX statement
        constraints:
          type: array
          items:
            type: object
            required: [name, type, columns]
            properties:
              name:
                type: string
              type:
                type: string
                description: Constraint type (PRIMARY KEY, UNIQUE, FOREIGN KEY, CHECK)
              columns:
                type: array
                items:
                  type: string

    PgQueryResult:
      type: object
      required: [columns, rows, rowCount, truncated, durationMs]
      properties:
        columns:
          type: array
          items:
            type: string
          description: Column names from the result set
        rows:
          type: array
          items:
            type: object
          description: Result rows (max 500)
        rowCount:
          type: integer
          description: Total number of rows affected/returned
        truncated:
          type: boolean
          description: Whether results were truncated at 500 rows
        durationMs:
          type: integer
          description: Query execution time in milliseconds

    MongoCollection:
      type: object
      required: [name, type, documentCount, sizeBytes, indexCount]
      properties:
        name:
          type: string
        type:
          type: string
          description: Collection type (e.g. `collection`, `view`)
        documentCount:
          type: integer
          description: Estimated document count
        sizeBytes:
          type: integer
        indexCount:
          type: integer

    MongoIndex:
      type: object
      required: [name, key, unique, sparse]
      properties:
        name:
          type: string
        key:
          type: object
          additionalProperties:
            type: integer
            enum: [1, -1]
          description: Index key specification
        unique:
          type: boolean
        sparse:
          type: boolean

    MongoFindResult:
      type: object
      required: [documents, totalCount, durationMs]
      properties:
        documents:
          type: array
          items:
            type: object
          description: Matched documents
        totalCount:
          type: integer
          description: Total number of documents matching the filter
        durationMs:
          type: integer
          description: Query execution time in milliseconds

    # --- Database Management Wrapped Response Types ---

    ApiResponse_PgDatabaseList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PgDatabase"

    ApiResponse_MongoDatabaseList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MongoDatabase"

    ApiResponse_CreatedDatabase:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [name]
          properties:
            name:
              type: string

    ApiResponse_DroppedName:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [dropped]
          properties:
            dropped:
              type: string

    ApiResponse_SchemaList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            type: object
            required: [name]
            properties:
              name:
                type: string

    ApiResponse_PgTableList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PgTable"

    ApiResponse_PgTableDetail:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/PgTableDetail"

    ApiResponse_CreatedTable:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [name, schema]
          properties:
            name:
              type: string
            schema:
              type: string

    ApiResponse_PgQueryResult:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/PgQueryResult"

    PgQueryErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Error code (`QUERY_ERROR`)
            message:
              type: string
        data:
          type: object
          properties:
            durationMs:
              type: integer
              description: Query execution time before failure

    ApiResponse_MongoCollectionList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MongoCollection"

    ApiResponse_MongoIndexList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MongoIndex"

    ApiResponse_MongoSample:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            type: object
          description: Sample documents (up to 5)

    ApiResponse_MongoFindResult:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/MongoFindResult"

    MongoQueryErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Error code (`INVALID_FILTER`, `INVALID_SORT`, or `QUERY_ERROR`)
            message:
              type: string
        data:
          type: object
          properties:
            durationMs:
              type: integer
              description: Query execution time before failure
